a,area{
    outline: none;
    cursor: hand;
}
#bar{
    height:55px;
}
#wrap {
    min-width: 1280px;
    max-width: 1920px;
    margin: 0 auto
}

#container {
    position: relative;
    background: #1D2361 url("../img/bg.jpg") no-repeat scroll center top;
    width: 100%;
    margin: 0 auto;
    height: 1027px;
}
#inner-container{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
}
#main {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 916px;
}

/*==navµ¼º½ start==*/
.nav {
    position: absolute;
    background-image: url(../img/nav_bg.png);
    width: 401px;
    height: 33px;
    right: 47px;
    top: 39px;
}

.nav > a, #NIE-share .NIE-share-txt, #NIE-share .NIE-share-iconBtn a {
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    height: 33px;
    line-height: 33px;
}

.nav > a {
    text-decoration: none;
    margin-left: 18px;
}
.nav > a > span{
    margin: 0 3px 0 5px;
}

#NIE-share {
    position: absolute;
    right: 14px;
    top: 0
}
#NIE-share .NIE-share-iconBtn a {
    font-size: 23px
}

.nav > a:hover, #NIE-share .NIE-share-iconBtn a:hover {
    color:#F8EB47;
}


/*==navµ¼º½ end==*/
/*==logo==*/
#logo{
    display: block;
    position: absolute;
    background-image: url("http://webinput.nie.netease.com/img/xyq/logo.png/250");
    height: 106px;
    width: 250px;
    left: 382px;
    top: 14px;
    z-index: 999;
}
/*==logo end==*/
#btn-area{
    position: absolute;
    width: 651px;
    height: 360px;
    top: 476px;
    left: 186px;
}
/*==btn==*/
.btn{
    display: block;
    position: absolute;
    -webkit-animation: scale 1.5s infinite;
    -o-animation: scale 1.5s infinite ;
    animation: scale 1.5s infinite ;
}
.btn.btn1{
    background: url(../img/btn.png) -406px -171px;
    width: 186px;
    height: 159px;
    top: 5px;
    left: 17px;
}
.btn.btn1:hover,.btn1.selected{
    background-position: -594px -171px;
}
.btn.btn2{
    background: url(../img/btn.png) -1000px 0;
    top: 21px;
    left: 240px;
    width: 187px;
    height: 159px;
}
.btn.btn2:hover,.btn2.selected{
    background-position: -1000px -161px;
}
.btn.btn3{
    background: url(../img/btn.png) -812px 0;
    top: 14px;
    left: 457px;
    width: 186px;
    height: 162px;

}
.btn.btn3:hover,.btn3.selected{
    background-position:  -812px -164px;
}
.btn.btn4{
    background: url(../img/btn.png) 0 0;
    top: 171px;
left:0;
    width: 201px;
    height: 174px;
}
.btn.btn4:hover,.btn4.selected{
    background-position: -203px 0;
}
.btn.btn6{
    background: url(../img/btn.png) -406px 0;
    top: 197px;
    left: 438px;
    width: 201px;
    height: 169px;

}
.btn.btn6:hover,.btn6.selected{
    background-position: -609px 0;
}
.btn.btn5{
    background: url(../img/btn.png)  -182px -176px;
    top: 190px;
    width: 180px;
    height: 151px;
    left: 230px;
}
.btn.btn5:hover,.btn5.selected{
    background-position:  0 -176px;
}
.btn.btn7{
    width: 138px;
    height: 133px;
    background: url(../img/btn.png) -1189px 0;
    top: -308px;
    left: -139px;
}
.btn.btn7:hover,.btn7.selected{
    background-position: -1189px -135px;
}

/*==btn==*/


/*==footer==*/
#footer {
    position: relative;
    width: 100%;
    max-width: 1920px;
    text-align: center;
    padding-top: 30px;
    margin:0 auto;
    background: url("../img/footer_bg.png") repeat-y;

}

#NIE-copyRight {
    height: 80px
}

#NIE-copyRight, #NIE-copyRight a {
    color: #FFF
}
@keyframes scale{
    0%{transform:scale(1);-webkit-transform:scale(1);}
    50%{transform:scale(1.03);-webkit-transform:scale(1.03);}
}
@-webkit-keyframes scale{
    0%{transform:scale(1);-webkit-transform:scale(1);}
    50%{transform:scale(1.03);-webkit-transform:scale(1.03);}
}

@keyframes translate{
    0%{transform:translateY(0);-webkit-transform:translateY(0);}
    25%{transform:translateY(5px);-webkit-transform:translateY(5px);}
    50%{transform:translateY(0);-webkit-transform:translateY(0);}
    75%{transform:translateY(5px);-webkit-transform:translateY(5px);}
}
@-webkit-keyframes translate{
    0%{transform:translateY(0);-webkit-transform:translateY(0);}
    25%{transform:translateY(5px);-webkit-transform:translateY(5px);}
    50%{transform:translateY(0);-webkit-transform:translateY(0);}
    75%{transform:translateY(5px);-webkit-transform:translateY(5px);}
}
#snow-canvas {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}
#fore{
    position: absolute;
    left:50%;
    margin-left: -776px;
    bottom: 0;
}