/*base on Netease _reset.less*/
/* GeekaholicLin edited */
/*variable*/
#post {
  color: #444444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  min-height: 6rem;
  line-height: 1.8;
}
#post .post-title {
  padding: 0;
}
#post #post-header {
  padding-bottom: 0.08rem;
}
#post #post-header .article-meta {
  border: none;
  padding-top: 0;
}
#post #post-header h1 {
  margin-top: 0;
}
#post #post-header .warning {
  position: relative;
  color: #BA5C5A;
  background-color: #F2DEDE;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0.1rem 0 0.05rem 0.1rem;
  margin: 0.2rem 0 0 0;
  font-size: 0.14rem;
  width: 95%;
}
#post #post-header .warning:before {
  color: #BA5C5A;
  margin-right: 0.1rem;
  font-size: 0.2rem;
  vertical-align: sub;
}
#post #post-header .warning strong {
  padding: 0 0.05rem;
}
#post #post-gallery img {
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 5px solid #cecece;
  margin: 0.5rem auto;
  max-width: 95%;
}
#post #post-body {
  padding-bottom: 0.8rem;
}
#post #post-body .video-container {
  text-align: center;
  height: 380px;
}
#post #post-body .video-container iframe {
  margin: 0 auto;
  width: 70%;
  height: 100%;
}
#post #post-body p {
  line-height: 1.9;
}
#post #post-body p + p {
  margin-top: 10px;
}
#post #post-body h1,
#post #post-body h2,
#post #post-body h3,
#post #post-body h4,
#post #post-body h5,
#post #post-body h6 {
  cursor: pointer;
  position: relative;
  margin: 0.1rem 0;
  display: block;
  border-bottom: 1px solid rgba(206, 206, 206, 0.18);
}
#post #post-body h1:after,
#post #post-body h2:after,
#post #post-body h3:after,
#post #post-body h4:after,
#post #post-body h5:after,
#post #post-body h6:after {
  content: "#";
  float: right;
}
#post #post-body h1:hover,
#post #post-body h2:hover,
#post #post-body h3:hover,
#post #post-body h4:hover,
#post #post-body h5:hover,
#post #post-body h6:hover {
  color: #6699cc;
}
#post #post-body blockquote {
  margin: 0.15rem 0;
  border-left: 5px solid #cecece;
  padding: 0.05rem 0.15rem 0.05rem 0.3rem;
  background-color: #EAEAEA;
  color: #666666;
}
#post #post-body blockquote cite:before {
  content: "---";
  padding: .1rem;
}
#post #post-body strong {
  color: #666666;
}
#post #post-body figure {
  font-family: "Source Code Pro", Consolas, "Liberation Mono", Monaco, Menlo, monospace;
  margin: 0.3rem 0;
  border: 1px solid #cecece;
  border-top: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  font-size: 0.14rem;
}
#post #post-body figure:before {
  content: "";
  display: block;
  height: 0.4rem;
  background-color: #E3E3E3;
  border-top: 1px solid #cecece;
}
#post #post-body figure:after {
  content: " ";
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #FC625D;
  width: 0.12rem;
  height: 0.12rem;
  top: 0.15rem;
  left: 0.17rem;
  -webkit-box-shadow: 0.2rem 0 #FDBC40, 0.4rem 0 #35CD4B;
  box-shadow: 0.2rem 0 #FDBC40, 0.4rem 0 #35CD4B;
}
#post #post-body figure table {
  width: 100%;
}
#post #post-body figure figcaption {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  height: 0.4rem;
  line-height: 0.4rem;
  text-align: center;
}
#post #post-body figure figcaption a {
  position: absolute;
  right: .17rem;
}
#post #post-body figure .gutter {
  padding: 0 0.1rem;
  width: 0.15rem;
  border-right: 1px solid #e0e0e0;
}
#post #post-body figure .gutter > pre {
  display: none;
}
#post #post-body figure .code {
  padding: 0 .1rem;
  vertical-align: top;
  counter-reset: line-number;
}
#post #post-body figure .code .line {
  position: relative;
  word-break: break-all;
  white-space: pre-wrap;
}
#post #post-body figure .code .line:before {
  counter-increment: line-number;
  content: counter(line-number);
  color: #cecece;
  position: absolute;
  left: -0.38rem;
  top: 0;
}
#post #post-body figure .code .line.marked {
  background-color: #ABCDEF;
}
#post #post-body figure .line {
  font-family: "Source Code Pro", Consolas, "Liberation Mono", Monaco, Menlo, monospace;
}
#post #post-body img {
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 5px solid #cecece;
  margin: 0.3rem auto;
  max-width: 95%;
}
#post #post-body .caption {
  display: block;
  text-align: center;
  font-size: 0.14rem;
  color: #666666;
  margin: -0.2rem 0 0.2rem;
}
#post #post-body a {
  padding: 0 0.05rem;
  color: #6699cc !important;
}
#post #post-body sup,
#post #post-body sub {
  margin-right: .1rem;
}
#post #post-body ul,
#post #post-body ol {
  padding-left: 0.4rem;
  margin: .1rem 0 .3rem 0;
}
#post #post-body ul li,
#post #post-body ol li {
  line-height: 1.9;
}
#post #post-body ul li {
  list-style-type: disc;
}
#post #post-body ol li {
  list-style-type: decimal;
}
#post #post-body hr {
  display: block;
  border: 1px dashed #cecece;
  margin: 0.3rem 0;
}
#post #post-body li > code,
#post #post-body p > code {
  font-family: "Source Code Pro", Consolas, "Liberation Mono", Monaco, Menlo, monospace;
  padding: 0.01rem 0.05rem;
  margin: 0 0.05rem;
  background-color: #EBEBEB;
  border: 1px solid #cecece;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#post #post-body > table {
  border-collapse: collapse;
  margin: .15rem auto;
  width: 100%!important;
  /* fix unknown render issue */
  overflow: auto;
}
#post #post-body > table.scroll-table {
  border: 1px solid #cecece;
  display: block;
}
#post #post-body > table thead {
  background-color: #E3E3E3;
  font-weight: bold;
  padding: 0.1rem 0;
}
#post #post-body > table th,
#post #post-body > table td {
  padding: 0 0.2rem;
  border: 1px solid #cecece;
  line-height: 1.5;
  height: 0.4rem;
}
#post #post-body dt {
  font-weight: bold;
}
#post #post-body dd {
  padding-left: 0.3rem;
}
#post #post-body acronym,
#post #post-body abbr {
  color: #6699cc;
}
#post #post-body > iframe {
  display: block;
  margin: 0 auto;
}
#post #post-footer {
  border-top: 6px solid #cecece;
  position: relative;
  background-color: #e0e0e0;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}
#post #post-footer .avatar {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: text-bottom;
  text-align: center;
  line-height: 1.4;
  margin-right: 0.5rem;
}
#post #post-footer .avatar img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 2px solid #cecece;
  height: 100px;
  width: 100px;
}
#post #post-footer .avatar .high-song,
#post #post-footer .avatar .donate {
  position: relative;
  display: block;
  line-height: 1.5;
}
#post #post-footer .avatar .donate {
  font-size: 0.16rem;
}
#post #post-footer .author-profile-section {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#post #post-footer .author-profile-section > li {
  display: block;
}
#post #post-footer .author-profile-section > li > a,
#post #post-footer .author-profile-section > li > span {
  position: relative;
  margin-left: 0.05rem;
}
#post #post-footer .author-profile-section .post-tags a:hover:after,
#post #post-footer .author-profile-section .post-category a:hover:after {
  content: "#";
  position: absolute;
  right: -0.08rem;
  top: -0.1rem;
}
#post #post-footer #donate-wrap {
  cursor: pointer;
  position: absolute;
  height: 1px;
  background-color: #cecece;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  top: -1px;
  left: 0;
  text-align: center;
  overflow: hidden;
}
#post #post-footer #donate-wrap .donate-img {
  max-height: 100%;
  height: 90%;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 3px solid #e0e0e0;
}
#post #post-footer #donate-wrap .donate-img:first-child {
  margin-left: 0;
}
#post #post-footer #donate-wrap.show {
  height: 100%;
  padding: 0.2rem;
}
#post #post-footer.short-footer {
  text-align: center;
}
#post #post-footer.short-footer .author-profile-section {
  text-align: left;
}
.article-nav {
  zoom: 1;
}
.article-nav:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.article-nav .pre-post {
  float: left;
}
.article-nav .pre-post:before {
  margin-right: 0.08rem;
}
.article-nav .pre-post:hover {
  margin-left: -0.1rem;
}
.article-nav .next-post {
  float: right;
  text-align: right;
}
.article-nav .next-post:after {
  content: "\f0da";
  margin-left: 0.08rem;
}
.article-nav .next-post:hover {
  margin-right: -0.1rem;
}
